My workflow 2 (1).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "936e95fe-bdf7-49d2-bfac-b68c05fff9d2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://export.arxiv.org/api/query?search_query=all:computer+science+AI&max_results=5&sortOrder=descending",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        6.597213766209542
      ],
      "id": "4f27b659-11ae-488f-842f-059cae76bac5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the input text attached below, which contains raw XML data from an arXiv API fetch. Extract the title, summary, and links of the top 3 papers. For each paper, rewrite a 2-sentence highly impactful summary in simple terms. Pass this clean structured summary to the next node.\n\nInput Data:\n{{ $json.data }}\nDO NOT write any python code, thoughts, or explanations. Only return the final formatted newsletter with titles, links, and the 2-sentence summaries directly.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        16
      ],
      "id": "50be9b07-08ae-4f27-adf2-00cb2daa0727",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        288,
        128
      ],
      "id": "6e197e12-1075-4113-b9f1-a6ce9c1f3d7c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "mLBRxfeVyJAaoEQj",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "thisoneisspam20@gmail.com",
        "subject": "Daily AI & Computer Science Research Newsletter",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        32
      ],
      "id": "e4895832-09d8-47b0-8976-3d0c46c694c6",
      "name": "Send a message",
      "webhookId": "1810b1f8-304c-4955-9673-389e3174aaa4",
      "credentials": {
        "gmailOAuth2": {
          "id": "8Ne6KIKXG1YrRqeF",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "89198f41-4057-4a83-969e-fef3262acda8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "baac716c2340530981f31aa45b93a881867d800d4faefc9d53e513c8fd1a6119"
  },
  "nodeGroups": [],
  "id": "b32hcLlNRJnsABqv",
  "tags": []
}