My workflow 2 (1).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13,
              "triggerAtMinute": 53
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "936e95fe-bdf7-49d2-bfac-b68c05fff9d2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://export.arxiv.org/api/query?search_query=all:computer+science+AI&max_results=5&sortOrder=descending",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        16
      ],
      "id": "4f27b659-11ae-488f-842f-059cae76bac5",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the input text attached below, which contains raw XML data from an arXiv API fetch. Extract the title, summary, and links of the top 3 papers. For each paper, rewrite a 2-sentence highly impactful summary in simple terms. Pass this clean structured summary to the next node.\n\nInput Data:\n{{ $json.data }}\nDO NOT write any python code, thoughts, or explanations. Only return the final formatted newsletter with titles, links, and the 2-sentence summaries directly.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        16
      ],
      "id": "50be9b07-08ae-4f27-adf2-00cb2daa0727",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        320,
        176
      ],
      "id": "6e197e12-1075-4113-b9f1-a6ce9c1f3d7c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "mLBRxfeVyJAaoEQj",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "thisoneisspam20@gmail.com",
        "subject": "Daily AI & Computer Science Research Newsletter",
        "message": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px; background-color: #ffffff;\">\n  \n  <!-- Header Section -->\n  <div style=\"background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%); padding: 25px; border-radius: 6px 6px 0 0; text-align: center; color: white;\">\n    <h2 style=\"margin: 0; font-size: 22px; font-weight: 600; letter-spacing: 0.5px;\">Daily AI & Computer Science Pulse</h2>\n    <p style=\"margin: 5px 0 0 0; font-size: 14px; opacity: 0.9;\">Curated Research & Automated Insights</p>\n  </div>\n\n  <!-- Content Section -->\n  <div style=\"padding: 20px 10px; color: #333333; line-height: 1.6;\">\n    <p style=\"font-size: 15px; margin-bottom: 20px;\">Hi, Maheen, here are today's top research breakthroughs synthesized by your autonomous pipeline:</p>\n    \n    <!-- Dynamic AI Output Area -->\n    <div style=\"background-color: #f8f9fa; border-left: 4px solid #2a5298; padding: 15px; border-radius: 4px; font-size: 14px; white-space: pre-line;\">\n      {{ $json.output }}\n    </div>\n  </div>\n\n  <!-- Footer Section -->\n  <div style=\"border-top: 1px solid #eeeeee; padding-top: 15px; margin-top: 20px; text-align: center; font-size: 12px; color: #777777;\">\n    <p style=\"margin: 0;\">Automated via <strong>n8n</strong> &amp; <strong>Groq API</strong></p>\n    <p style=\"margin: 5px 0 0 0;\">UET Engineering Project Lab &copy; 2026</p>\n  </div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        32
      ],
      "id": "e4895832-09d8-47b0-8976-3d0c46c694c6",
      "name": "Send a message",
      "webhookId": "1810b1f8-304c-4955-9673-389e3174aaa4",
      "credentials": {
        "gmailOAuth2": {
          "id": "8Ne6KIKXG1YrRqeF",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "53a4151b-0ec4-4b32-bc6d-838be82b9a89",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "baac716c2340530981f31aa45b93a881867d800d4faefc9d53e513c8fd1a6119"
  },
  "nodeGroups": [],
  "id": "b32hcLlNRJnsABqv",
  "tags": []
}